.header {
  height: 80px;
  width: 100wh;
  background-color: #00838f;
  display: flex;
  align-items: center;
  gap: 8px;
}
.input {
  width: 912px;
  // height: 42px;
  background-color: white;
  border-radius: 4px;
  margin-left: 32px !important;
  & ::placeholder {
    color: #828282;
  }
}
.button {
  height: 42px;
  box-sizing: border-box;
}
